.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 400px;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th {
  background-color: #754633;
  border: 1px solid #c5a99e;
  padding: 8px;
  color: #ffffff;
}

td {
  border: 1px solid #754633;
  padding: 8px;
  text-align: center;
}

tr {
  border-bottom: 1px solid #c5a99e !important;
}

th, td {
  border-left: 1px solid #c5a99e !important;
  border-right: 1px solid #c5a99e !important;
}