.crear-coffee-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.crear-coffee{
    width: 400px;
    text-align: center;
}

.crear-coffee h3{
    margin-bottom: 20px;
    color: #000000;
}

.crear-coffee input{
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.crear-coffee button{
    width: 350px;
    padding: 10px;
    background-color: #754633;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.crear-coffee button:hover{
    background-color: #c5a99e;
}


.lista-coffees table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;    
}

.lista-coffees th, 
.lista-coffees td {
    padding: 8px;
    text-align: center;
}

.lista-coffees th {
    background-color: #754633;
    color: white;
}

.lista-coffees td button {
    width: 80px;
    padding: 10px;
    margin-left: 10px;
    background-color: #754633;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.lista-coffees .error-message {
    color: rgb(122, 27, 27);
    font-size: 14px;
    margin-top: 5px;
}