.container-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #220D05;
    padding: 0;
}

.menu {
    list-style-type: none; /* elimina los puntos de la lista */
    padding: 20px;
    margin: 0;
    display: flex; 
    justify-content: flex-end;
}

.menu li {
    margin-right: 20px; 
}

.menu li a {
    text-decoration: none; 
}

.logo {
    width: 150px; 
    height: 100;
}

